includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  paths:
    - app
    # - views
  level: 0
  errorFormat: raw
  disallowedFunctionCalls:
    - function: 'dd()' # `method` is an alias of `function`
      message: 'use logger instead'
    - function: 'dump()'
      message: 'use logger instead'
